export(addspace)
export(boxcoxfitRx)
export(cap)
export(citime)
export(covsum)
export(crrRx)
export(end_QC)
export(etsum)
export(forestplot)
export(initiate_QC)
export(lbld)
export(lpvalue)
export(makedocx)
export(mvsum)
export(nicename)
export(pcovsum)
export(petsum)
export(plotci)
export(plotkm)
export(pmvsum)
export(psthr)
export(pstprn)
export(puvsum)
export(pvalue)
export(remove_heterozygocity)
export(remove_missing)
export(remove_relatives)
export(remove_sex_problems)
export(sanitizestr)
export(uvsum)
import(survival,
    xtable,
    aod,
    reshape,
    cmprsk,
    geoR,
    stringr)